@mixin small-screens {
    @media (min-width: 530px) {
        @content;
    }
}

@mixin medium-screens {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin large-screens {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}