.large-hero {
	position: relative;
	border-bottom: 10px solid $color-blue;

	&__image {
		display: block;
	}

	&__text-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width:30rem;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__title {
		color: $color-blue;
		font-weight: 300;
		font-size: 1.1rem;
		margin: 0;

		@include small-screens {
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		color: #2f5572;
		font-weight: 300;
		font-size: 1.1rem;
		margin: 0;

		@include small-screens {
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #fff;
		font-size: 1.1rem;
		font-weight: 300;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

		@include small-screens {
			font-size: 1.875rem;
		}
	}
}