.row {
	@include clearfix;
	display: flex;
	flex-wrap: wrap;

	[class^="row__"] {
		//float: left;
		display: flex;

		&:last-of-type {
			margin-right:0;
		}
	}

	@include atMedium {
		&--gutters {
			& > div {
				margin-right: $width-gutter;
			}
		}

		&--gutters-small {
			& > div {
				margin-right: $width-gutter-small;
			}
		}

		&--gutters-large {
			& > div {
				margin-right: $width-gutter-large;
			}
		}

		&__md-4 {
			width: calc(100% / 3);
		}
		&--gutters-small &__md-4 {
			width: calc((100% - #{$width-gutter-small * 2}) / 3);
		}
		&--gutters &__md-4 {
			width: calc((100% - #{$width-gutter * 2}) / 3);
			&--small {
				width: calc(37% - #{$width-gutter});
			}
		}

		&__md-8 {
			width: calc(100% / 3 * 2);
		}
		&--gutters &__md-8 {
			width: calc(((100% - #{$width-gutter * 2}) / 3)  * 2);
			&--large {
				width: 62%
			}
		}

		&__md-6 {
			width: calc(100% / 2);
		}
		&--gutters &__md-6 {
			width: calc((100% - #{$width-gutter}) / 2);
		}
		&--gutters-large &__md-6 {
			width: calc((100% - #{$width-gutter-large}) / 2);
		}
	}
}