.wrapper {
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--medium {
		max-width: 967px;
	}

	&--narrow {
		max-width: 470px;
	}

	&--mb {
		margin-bottom: 1rem;

		@include atSmall {
			margin-bottom: 3.875rem;
		}
	}

	&--p-u-md-none {
		padding-left: 0;
		padding-right: 0;

		@include atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}

.page-section {
	padding: 1.2rem 0;

	@include atMedium {
		padding: 4.5rem 0
	}

	&--blue {
		@include set-background($color-blue)
	}

	&--testimonials {
		background: #e0e6ef;

		@include atSmall {
			background: url("../images/testimonials-bg.jpg") top center no-repeat;
			background-size: cover;
		}
	}

	&--p-u-md-none {
		padding-bottom: 0;
		@include atMedium {
			padding-bottom: 4.5rem;
		}
	}
}

.generic-content-container {
	p {
		line-height: 1.65;
		font-weight: 300;
		margin:0 0 1.8rem 0;

		@include atMedium {
			font-size: 1.125rem;
		}
	}

	p a {
        font-weight: 400;
	}
}