.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&--equal-height-at-medium {
		@include medium-screens {
			& > div {
				display: flex;
			}
		}
	}

	&--margin-top {
		margin-top: 128px
	}

	// gutter
	&--gutters {
		gap: $gutter-width;
		//column-gap: $gutter-width;
		//row-gap: $gutter-width;
	}

	&--gutters-horizontal-small {
		column-gap: $gutter-width-small;
	}

	&--gutters-horizontal-large {
		column-gap: $gutter-width;

		@include medium-screens {
			column-gap: $gutter-width-large;
		}
	}

	&--gutters-vertical-large {
		row-gap : $gutter-width;

		@include medium-screens {
			row-gap: $gutter-width-large;
		}
	}

	// element
	&__margin-bottom-until-medium {
		margin-bottom: 1rem;

		@include medium-screens {
			margin-bottom: 0;
		}
	}

	@include medium-screens {
		&__md-4 {
			width: calc(100%  / 3)
		}

		&__md-6 {
			width: calc(100%  / 2)
		}

		&__md-8 {
			width: calc(100% / 3 * 2)
		}

		// gutters
		&--gutters &__md-4 {
			width: calc((100% - $gutter-width * 2) / 3)
		}

		&--gutters &__md-6 {
			width: calc((100% - $gutter-width * 1) / 2)
		}

		&--gutters &__md-8 {
			width: calc((100% - $gutter-width * 2) / 3 * 2 + $gutter-width)
		}

		// gutter-small
		&--gutters-horizontal-small &__md-4 {
			width: calc((100% - $gutter-width-small * 2) / 3)
		}

		&--gutters-horizontal-small &__md-6 {
			width: calc((100% - $gutter-width-small * 1) / 2)
		}

		// gutter-large
		&--gutters-horizontal-small &__md-4 {
			width: calc((100% - $gutter-width-large * 2) / 3)
		}

		&--gutters-horizontal-large &__md-6 {
			width: calc((100% - $gutter-width-large * 1) / 2)
		}
	}

	@include large-screens {
		&--gutters &__lg-4 {
			width: calc((100% - $gutter-width * 2) / 3)
		}

		&--gutters-horizontal-small &__lg-4 {
			width: calc((100% - $gutter-width-small * 2) / 3)
		}

		&--gutters-horizontal-large &__lg-4 {
			width: calc((100% - $gutter-width-large * 2) / 3)
		}
	}
}

