.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;
	margin-bottom: 4rem;

	@include small-screens {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}

	&--blue {
		color: $color-blue
	}

	&__icon {
		display: block;
		position: relative;
		top: -10px;
		margin-left: auto;
		margin-right: auto;

		@include small-screens {
			position: relative;
			top: 10px;
			display: inline-block;
			margin-right: .5rem;
		}
	}
}