.mb-small {
  margin-bottom: .5em;
}

.mb-medium {
  margin-bottom: 1rem;
}

.mb-large {
  margin-bottom: 1.6em;
}

.mt-none {
  margin-top: 0;
}

.mb-md-none {
  @include atMedium {
    margin-bottom: 0;
  }
}

.pt-80 {
  padding-top: 80px
}
