.b-margin-small {
  margin-bottom: .5em;
}

.b-margin-medium {
  margin-bottom: 1rem;
}
.b-margin-large {
  margin-bottom: 1.6em;
}

.t-margin-none {
  margin-top: 0
}

.b-margin-md-none {
  @include atMedium {
    margin-bottom: 0
  }
}
